:root {
    --full-width: 100%;
    --full-height: 100%;
    --body-color: radial-gradient(circle farthest-corner at 10% 20%, rgba(128, 248, 174, 1) 0%, rgba(223, 244, 148, 1) 50%);
    ;
    ;
}

body {
    background: var(--body-color);
    width: var(--full-width);
    height: var(--full-height);

}