@font-face {
    font-family: Abel;
    src: url("../Fonts/Abel/Abel-Regular.ttf");
}

@font-face {
    font-family: Anton;
    src: url("../Fonts/Anton/Anton-Regular.ttf");
}

@font-face {
    font-family: Apercu;
    src: url("../Fonts/Apercu/Apercu-Light.ttf");
}

@font-face {
    font-family: GT Walsheim;
    src: url("../Fonts/GT_Walsheim/GTWalsheimProRegular.ttf");
}

@font-face {
    font-family: Jeko Light;
    src: url("../Fonts/Jeko/FontsFree-Net-Jeko-Light.ttf");
}

@font-face {
    font-family: Jeko Pro;
    src: url("../Fonts/Jeko/FontsFree-Net-Jeko-Regular.ttf");
}

@font-face {
    font-family: Josefin Sans;
    src: url("../Fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf");
}

@font-face {
    font-family: Lexend Deca;
    src: url("../Fonts/Lexend_Deca/LexendDeca-Regular.ttf");
}

@font-face {
    font-family: Livvic;
    src: url("../Fonts/Livvic/Livvic-Regular.ttf");
}

@font-face {
    font-family: Montserrat;
    src: url("../Fonts/Montserrat/Montserrat-Regular.ttf");
}
