@import './include-media.scss';

:root {
    --full-width: 100%;
    --full-height: 100%;
    --home-color: linear-gradient(to top, #ff7708 0%, white 100%);
}
$tablet-size: 768px;
$phone-size: 320px;
$desktop-size: 1024px;
$breakpoints: (phone: $phone-size, tablet: $tablet-size, desktop: $desktop-size);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pad-wrapper,
.pad-wrapper1 {
    background: linear-gradient(to right bottom,
            rgba(255, 255, 255, 0.8),
            rgba(255, 255, 255, 0.5));
    border-radius: 40px;
}

.pad-container,
.pad-wrapper,
.pad-wrapper1 {
    position: absolute;
    list-style: none;
}
.home-container {
    font-family: "Poppins", sans-serif;
    min-height: 25vh;
    background: var(--home-color);
    display: flex;
    align-items: center;
    justify-content: center;
    
    .container {
        height:516px;
        margin: 50px;
        width: 60%;
        background: linear-gradient(to right bottom,
                rgba(255, 255, 255, 0.1),
                rgba(255, 255, 255, 0.2));
        border-radius: 2rem;
        z-index: 2;
        border: none;
        backdrop-filter: blur(2rem);
        display: flex;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
        @include media("<phone", ">=tablet") {
            background: white;
        }
        .pad-container {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            z-index: -1;

            .pad-wrapper {
                width: 90%;
                height: 150px;
                top: 100px;
            }

            .pad-wrapper1 {
                width: 90%;
                left: 5%;
                top: 270px;
                height: 170px;
            }
        }
    }
    .bubbles {
        background: linear-gradient(to right bottom,
                rgba(255, 255, 255, 0.4),
                rgba(255, 255, 255, 0.2));
        border-radius: 50%;
        position: absolute;
        z-index: 3;
    }
}
.layout {
    width: 100%;
    height: 100%;
    border: 1px solid black;
}
