@import './font-face.scss';

$size: 15px;
$social-media-icons: ("facebook": $size, "instagram": $size, "linkedin": $size, "youtube": $size);

:root {
    --abel-cursive: Abel, cursive;
    --anton-cursive: Anton, cursive;
    --apercu-cursive: Apercu, cursive;
    --gt-walsheim-cursive: GT Walsheim, cursive;
    --jeko-cursive: Jeko, cursive;
    --josefin-sans-cursive: Josefin, cursive;
    --lexend-deca-cursive: Lexend Deca, cursive;
    --livvic-cursive: Livvic, cursive;
    --montserrat-cursive: Montserrat, cursive;
}

.nav {
    width: 100%;
    min-height: 5vh;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    top: 15px;
    

    .list-container{
        padding:5px;
    }

    .list-container-item {
        text-align: center;
        padding: 10px;
        float: left;
        list-style-type: none;
    
        .nav-link {
            text-decoration: none;
            color: #0f0f0f;
            font-size: 14px;
            padding: 0 10px;
            font-family: var(--abel-cursive);
        
        }
    }
    
    .logo-image {
        width: 50px;
        height: 50px;
        float: left;
        border-radius: 50%;
        margin: 0 20px;
    }
}

.list-container-wrapper{
    width: 100%;
    height: 25px;
    line-height: 20px;
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: 0.6s;
    &:hover{
        border: 1px solid black;
        transition: 0.3s;
    }
}



.media-list {
    width: 100px;
    min-height: 50px;
    padding: 20px 0;
}

@each $name,
$iconSize in $social-media-icons {
    .#{$name} {
        background-image: url('../Media/Icons/#{$name}-128.png');
        background-size: $iconSize;
        width: $iconSize;
        height: $iconSize;
        float: left;
        background-repeat: no-repeat;
        margin: 0 0.1rem;

        
        
    }


}