@import './font-face.scss';

:root {
    --abel-cursive: Abel, cursive;
    --anton-cursive: Anton, cursive;
    --apercu-cursive: Apercu, cursive;
    --gt-walsheim-cursive: GT Walsheim, cursive;
    --jeko-cursive: Jeko, cursive;
    --josefin-sans-cursive: Josefin, cursive;
    --lexend-deca-cursive: Lexend Deca, cursive;
    --livvic-cursive: Livvic, cursive;
    --montserrat-cursive: Montserrat, cursive;


}

ul {
    width: 100%;
    border: 1px solid black;
    position: absolute;
    top: 0;
    text-align: center;

}

li {
    list-style: none;
    float: left;
    padding: 10px;

    a {
        font-family: var(--apercu-cursive);
        text-decoration: none;
        font-size: 16px;
        color: black;
        text-align: center;

    }

}